.LoginWindow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginWindow .LoginElements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.LoginWindow .title {
  align-self: stretch;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
}

.LoginWindow .textfield {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 6px;
  display: flex;
  gap: 4px;
  height: 50px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

.LoginWindow .text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #00000080;
  display: -webkit-box;
  flex: 1;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LoginWindow .LoginElements .ID {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.LoginWindow .LoginElements .password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.LoginWindow .LoginElements .login {
  border: 5px solid black;
}
