.cartList {
  width: 400px;
  overflow-y: auto; /* 세로 스크롤 활성화 */

  background-color: #ffffff;
  border-radius: 10px;
}

.cartText {
  width: 90%;
  margin-left: 10px;
}

.cartElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  height: 35px;
}

.quantity-text {
  height: 20px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton {
  height: 20px;
  width: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}