.menuList {
  flex-grow: 1;

  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;  /* 가로로 배치된 아이템들이 뷰포트를 넘어갈 경우 다음 줄로 넘김 */
  overflow-y: auto; /* 세로 길이가 넘어가면 스크롤 가능 */
  
  padding: 10px;
  gap: 10px;
}